<div class="footer">
    <footer class="main-footer text-center">
        <strong>Copyright &copy; <a href="http://www.magustek.com">Shanghai Magus Technology Co.,
            Ltd</a>.</strong> All rights reserved.
    </footer>
</div>