<script type="application/javascript">
    window.onload = function () {
        var token = '{{token}}';
        var socket = io.connect('127.0.0.1:8201/api/v1', {
            'query': 'token=' + token
        })
        socket.emit('query', {sql: 'select * from point'});
        socket.on('queryData', function (data) {
                    console.log(data);
                }
        )
    }
</script>


<link href="/stylesheets/patch.css" rel="stylesheet">
<!-- Documentation extras -->
<link href="/stylesheets/docs.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/javascripts/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/javascripts/html5shiv.min.js"></script>
<script src="/javascripts//respond.min.js"></script>
<![endif]-->


<script type="text/javascript" src="/plugins/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/plugins/syntaxhighlighter/scripts/shBrushJScript.js"></script>

<link type="text/css" rel="stylesheet" href="/plugins/syntaxhighlighter/styles/shCoreDefault.css"/>
<script type="text/javascript">SyntaxHighlighter.defaults['toolbar'] = false;
SyntaxHighlighter.all();</script>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index" class="navbar-brand">Magus-OPCloud</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">javascript</a>
                </li>
                <li>
                    <a href="#">Java</a>
                </li>
                <li>
                    <a href="#">C/C++/C#</a>
                </li>
                <li>
                    <a href="#">golang</a>
                </li>
                <li>
                    <a href="#">其他</a>
                </li>
                <li>
                    <a href="#">组件</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </nav>
    </div>
</header>


<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>OPCloud API</h1>
        <p>简要介绍 Magus-OPCloud，以及如何下载、使用，还有基本开发示例和组件等。</p>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">


            <div class="bs-docs-section">
                <h1 class="page-header">开发须知</h1>
                <h3 id="download-cdn"></h3>
                <p> 请先确认您是否完成<a href="#">用户注册</a>并获得<a href="#">开发者授权</a>！</p>

            </div>


            <div class="bs-docs-section">
                <h1 id="download" class="page-header">下载</h1>
                <p class="lead">OPCloud API（当前版本
                    v1.0.0）提供以下几种方式帮你快速上手，每一种方式针对具有不同技能等级的开发者和不同的使用场景。继续阅读下面的内容，看看哪种方式适合你的需求吧。</p>

                <div class="row bs-downloads">
                    <div class="col-sm-4">
                        <h3 id="download-Magus-OPCloud">SDK</h3>
                        <p>下载压缩包之后，将其解压缩到任意目录即可看到以下（压缩版的）目录结构：</p>
                        <div class="highlight"><pre><code class="bash">OPAPI/
├── java/
│   ├── op.net.jar
│   ├── xxx.java
│   ├── xxx.java
│   └── xxx.java
├── js/
│   ├── socket.io.js
│   └── wenapi.js
└── c++/
    ├── opapi.dll
    ├── op_type.h
    ├── op_service.h
    └── oplicense.h
</code></pre>
                        </div>
                        <p class="text-center">
                            <a href="#" class="btn btn-lg btn-outline"
                               role="button">下载SDK</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3 id="download-sass">开发示例</h3>
                        <p>下载压缩包之后，将其解压缩到任意目录即可看到以下（压缩版的）目录结构：</p>
                        <div class="highlight"><pre><code class="bash">OPAPI/
├── java/
│   ├── op.net.jar
│   ├── xxx.java
│   ├── xxx.java
│   └── xxx.java
├── js/
│   ├── socket.io.js
│   └── wenapi.js
└── c++/
    ├── opapi.dll
    ├── op_type.h
    ├── op_service.h
    └── oplicense.h
</code></pre>
                        </div>
                        <p class="text-center">
                            <a href="#" class="btn btn-lg btn-outline"
                               role="button">下载Demo项目</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3 id="download-source">离线开发</h3>
                        <p>下载压缩包之后，将其解压缩到任意目录即可看到以下（压缩版的）目录结构：</p>
                        <div class="highlight"><pre><code class="bash">OPAPI/
├── java/
│   ├── op.net.jar   //jar
│   ├── xxx.java
│   ├── xxx.java
│   └── xxx.java
├── js/
│   ├── socket.io.js
│   └── wenapi.js
└── c++/
    ├── opapi.dll
    ├── op_type.h
    ├── op_service.h
    └── oplicense.h
</code></pre>
                        </div>
                        <p class="text-center">
                            <a href="#" class="btn btn-lg btn-outline"
                               role="button">下载运行环境</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="bs-docs-section">
                <h1 id="whats-included" class="page-header">二次开发说明</h1>
                <p class="lead">Magus-OPCloud 提供了多种形式的二次开发接口，在下载下来的压缩包内可以看到以下目录和文件，这些文件按照类别放到了不同的目录内。</p>
                <div class="bs-callout bs-callout-warning" id="jquery-required">
                    <h4>开发依赖说明</h4>
                    <p>请注意，<strong>Magus-OPCloud 的所有组件都对应开发语言程序库，</strong>因此程序库必须在开发前完成依赖环境导入。<a
                            href="#template">开发示例</a>中所展示的一样。</p>
                </div>
                <div class="bs-docs-section">
                    <h1 class="page-header">socket.io 开发</h1>
                    <h3 id="download-cdn">1.导入开发库</h3>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                    <div class="highlight"><pre><code class="html"><span class="c">&lt;!-- socket.io文件。务必在执行连接动作之前引入 --&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.maguscloud.com/socket.io/socket.io.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="c">&lt;!-- 最新的 Magus-OPCloud 核心 JavaScript 文件 --&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.maguscloud.com/api/v1/webapi.js"</span><span
                                class="nt">&gt;&lt;/script&gt;</span></code></pre>
                    </div>


                    <h3 id="download-cdn">2.链接服务器</h3>
                    <pre class="brush: js;">
                  var token = 'your token';
                        socket = io.connect('http://server:port/api/v1', {
                            'query': 'token=' + token
                   })
                </pre>
                    <h3 id="download-cdn">3.定义查询调用方法</h3>
                    <pre class="brush: js;">
                    function query(sql, callback) {
                        if (sql != undefined) {
                            socket.emit('query', {sql: sql});
                            socket.on('queryData', function (data) {
                                        if (callback != null) {
                                            callback(data);
                                        }
                                    }
                            )
                        }
                    }
                </pre>

                    <h3 id="download-cdn">4.定义查询调用方法</h3>
                    <pre class="brush: js;">
                    query(sql, function (data) {
                            // 客户端业务代码
                    })
                </pre>
                </div>
                <div class="bs-docs-section">
                    <h3 id="download-cdn">Json 开发</h3>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                    <div class="highlight"><pre><code class="html"><span class="c">&lt;!-- socket.io文件。务必在执行连接动作之前引入 --&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span
                                class="s">"http://www.maguscloud.com/socket.io/socket.io.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="c">&lt;!-- 最新的 Magus-OPCloud 核心 JavaScript 文件 --&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span
                                class="s">"http://www.maguscloud.com/api/v1/webapi.js"</span><span
                                class="nt">&gt;&lt;/script&gt;</span>
</code></pre>
                    </div>

                    <h3 id="download-bower">C/C++/C# 开发</h3>
                    <p>Magus-OPCloud API 仅支持JDK1.5 及以上版本。</p>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                    <div class="highlight"><pre><code class="java">public static void main(){
}</code></pre>
                    </div>

                    <h3 id="download-bower">Java 开发</h3>
                    <p>Magus-OPCloud API 仅支持JDK1.5 及以上版本。</p>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                    <div class="highlight"><pre><code class="java">public static void main(){
}
</code></pre>
                    </div>
                </div>


                <div class="bs-docs-section">
                    <h1 id="template" class="page-header">开发示例</h1>

                    <p class="lead">使用以下给出的这份超级简单的 HTML 模版，或者修改<a
                            href="#examples">这些实例</a>。我们强烈建议你对这些实例按照自己的需求进行修改，而不要简单的复制、粘贴。
                    </p>

                    <p>拷贝并粘贴下面给出的 HTML 代码，这就是一个最简单的 Magus-OPCloud 页面了。</p>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                    <div class="highlight"><pre><code class="html"><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">lang=</span><span class="s">"zh-cn"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;head&gt;</span>
    <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span
                                class="nt">&gt;</span>
    <span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">"X-UA-Compatible"</span> <span
                                class="na">content=</span><span class="s">"IE=edge"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"viewport"</span> <span class="na">content=</span><span
                                class="s">"width=device-width, initial-scale=1"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;title&gt;</span>Magus-OPCloud 101 Template<span class="nt">&lt;/title&gt;</span>

    <span class="c">&lt;!-- Magus-OPCloud --&gt;</span>
    <span class="nt">&lt;link</span> <span class="na">href=</span><span
                                class="s">"css/Magus-OPCloud.min.css"</span> <span
                                class="na">rel=</span><span class="s">"stylesheet"</span><span class="nt">&gt;</span>

    <span class="c">&lt;!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --&gt;</span>
    <span class="c">&lt;!-- WARNING: Respond.js doesn't work if you view the page via file:// --&gt;</span>
    <span class="c">&lt;!--[if lt IE 9]&gt;</span>
<span class="c">      &lt;script src="http://css/html5shiv/3.7.2/html5shiv.min.js"&gt;&lt;/script&gt;</span>
<span class="c">      &lt;script src="http://css/respond.js/1.4.2/respond.min.js"&gt;&lt;/script&gt;</span>
<span class="c">    &lt;![endif]--&gt;</span>
  <span class="nt">&lt;/head&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;h1&gt;</span>你好，世界！<span class="nt">&lt;/h1&gt;</span>

    <span class="c">&lt;!-- jQuery (necessary for Magus-OPCloud's JavaScript plugins) --&gt;</span>
    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://css/jquery/1.11.1/jquery.min.js"</span><span
                                class="nt">&gt;&lt;/script&gt;</span>
    <span class="c">&lt;!-- Include all compiled plugins (below), or include individual files as needed --&gt;</span>
    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"js/Magus-OPCloud.min.js"</span><span
                                class="nt">&gt;&lt;/script&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</code></pre>
                    </div>
                </div>

                <div class="bs-docs-section">
                    <h1 id="examples" class="page-header">组件二次开发</h1>

                    <p class="lead">以下实例全部基于前面所讲的基本模板并配合 Magus-OPCloud 的众多组件开发而成。我们鼓励你根据自身项目的需要对 Magus-OPCloud
                        进行定制和修改。</p>

                    <h3 id="examples-framework">功能组件</h3>

                    <div class="row bs-examples">
                        <div class="col-xs-6 col-md-4">
                            <a class="thumbnail"
                               href="#">
                            </a>
                            <h4>图形组态</h4>
                            <p>HTML5 图形.</p>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <a class="thumbnail"
                               href="#">
                            </a>
                            <h4>报警</h4>
                            <p>HTML5 图形.</p>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <a class="thumbnail"
                               href="#">
                            </a>
                            <h4>数据一览</h4>
                            <p>HTML5 图形.</p>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <a class="thumbnail"
                               href="#">
                            </a>
                            <h4>数据快照</h4>
                            <p>HTML5 图形.</p>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <a class="thumbnail"
                               href="#">
                            </a>
                            <h4>趋势分析</h4>
                            <p>HTML5 图形.</p>
                        </div>
                    </div>
                </div>


                <div class="bs-docs-section">
                    <h1 id="support" class="page-header">浏览器和设备的支持情况</h1>
                    <p class="lead">Magus-OPCloud
                        的目标是在最新的桌面和移动浏览器上有最佳的表现，也就是说，在较老旧的浏览器上可能会导致某些组件表现出的样式有些不同，但是功能是完整的。</p>

                    <h3 id="support-browsers">被支持的浏览器</h3>
                    <p>特别注意，我们坚决支持这些浏览器的<strong>最新版本</strong>。在 Windows 平台，我们支持<strong> Internet Explorer 8-11</strong>。请看下面列出的详细信息。
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <td></td>
                                <th>Chrome</th>
                                <th>Firefox</th>
                                <th>Internet Explorer</th>
                                <th>Opera</th>
                                <th>Safari</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Android</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-muted" rowspan="3" style="vertical-align: middle;">N/A</td>
                                <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span
                                        class="sr-only">不支持</span></td>
                                <td class="text-muted">N/A</td>
                            </tr>
                            <tr>
                                <th>iOS</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-muted">N/A</td>
                                <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span
                                        class="sr-only">不支持</span></td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Mac OS X</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Windows</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span
                                        class="sr-only">支持</span>
                                </td>
                                <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span
                                        class="sr-only">不支持</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
                <ul class="nav bs-docs-sidenav">

                    <li>
                        <a href="#download">下载</a>
                    </li>
                    <li>
                        <a href="#whats-included">包含的内容</a>
                        <ul class="nav">
                            <li>
                                <a href="#whats-included-precompiled">预编译版</a>
                            </li>
                            <li>
                                <a href="#whats-included-source">Magus-OPCloud
                                    源码</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#grunt">编译
                            CSS 和 JavaScript 文件</a>
                        <ul class="nav">
                            <li>
                                <a href="#grunt-installing">安装
                                    Grunt</a></li>
                            <li>
                                <a href="#grunt-commands">可以使用的
                                    Grunt 命令</a></li>
                            <li>
                                <a href="#grunt-troubleshooting">除错</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#template">基本模板</a>
                    </li>
                    <li>
                        <a href="#examples">实例精选</a>
                        <ul class="nav">
                            <li>
                                <a href="#examples-framework">Magus-OPCloud
                                    框架的基本用法</a></li>
                            <li>
                                <a href="#examples-navbars">导航条实战</a>
                            </li>
                            <li>
                                <a href="#examples-custom">自定义组件</a>
                            </li>
                            <li>
                                <a href="#examples-experiments">Experiments</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#community">社区</a>
                    </li>
                    <li>
                        <a href="#disable-responsive">禁止响应式布局</a>
                    </li>
                    <li>
                        <a href="#migration">从
                            2.x 版本升级到 3.0 版本</a>
                    </li>
                    <li>
                        <a href="#support">对浏览器和设备的支持情况</a>
                        <ul class="nav">
                            <li>
                                <a href="#support-browsers">被支持的浏览器</a>
                            </li>
                            <li>
                                <a href="#support-ie8-ie9">Internet
                                    Explorer 8-9</a></li>
                            <li>
                                <a href="#support-ie8-respondjs">IE8
                                    与 Respond.js</a></li>
                            <li>
                                <a href="#support-ie8-box-sizing">IE8
                                    与 box-sizing 属性</a></li>
                            <li>
                                <a href="#support-ie8-font-face">IE8
                                    and @font-face</a></li>
                            <li>
                                <a href="#support-ie-compatibility-modes">IE
                                    兼容模式</a></li>
                            <li>
                                <a href="#support-chinese-browsers-renderer-modes">国产浏览器高速模式</a>
                            </li>
                            <li>
                                <a href="#support-ie10-width">IE10
                                    和 Windows (Phone) 8</a></li>
                            <li>
                                <a href="#support-safari-percentages">Safari
                                    对百分比数字凑整的问题</a></li>
                            <li>
                                <a href="#support-fixed-position-keyboards">模态框、导航条和虚拟键盘</a>
                            </li>
                            <li>
                                <a href="#support-browser-zooming">浏览器的缩放功能</a>
                            </li>
                            <li>
                                <a href="#support-printing">打印机的视口（viewport）</a>
                            </li>
                            <li>
                                <a href="#support-android-stock-browser">Android
                                    stock browser</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#third-parties">对第三方组件的支持</a>
                    </li>
                    <li>
                        <a href="#accessibility">可访问性</a>
                    </li>
                    <li>
                        <a href="#license-faqs">许可证
                            FAQ</a>
                    </li>
                    <li>
                        <a href="#translations">文档翻译</a>
                    </li>


                </ul>
                <a class="back-to-top"
                   href="#top">
                    返回顶部
                </a>

            </div>
        </div>
    </div>
</div>


<!-- Magus-OPCloud core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/Magus-OPCloud.min.js"></script>
<script src="/javascripts/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/javascripts/ie10-viewport-bug-workaround.js"></script>


<!-- Analytics
================================================== -->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fac45a0f68a119fbe4d1c4c3ac3044dbd' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="/javascripts/h.js" type="text/javascript"></script>
