<link rel="stylesheet" href="/stylesheets/AdminLTE.min.css">
<section class="content-header text-left">
    <h1 style="margin-bottom: 5px">
        过程回放
    </h1>
    <ul class="breadcrumb">
        <li><a href="/system/manage" target="_top"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">过程回放</li>
    </ul>
</section>
<div class="container" style="width: 100%">
    <div class="box box-primary">
    </div>
</div>