<link rel="stylesheet" href="/plugins/bootstrap-table/src/bootstrap-table.css">
<script src="/plugins/bootstrap-table/src/bootstrap-table.js"></script>
<script src="/plugins/bootstrap-table/src/locale/bootstrap-table-zh-CN.js" type="text/javascript"></script>
<script src="/plugins/bootstrap-table/src/bootstrap-table-export.js"></script>
<script src="/plugins/bootstrap-table/src/tableExport.js"></script>
<link rel="stylesheet" href="/plugins/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css"/>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxdatatable.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxtreegrid.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxpanel.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxtree.js"></script>
<script type="text/javascript" src="/plugins/jqwidgets/jqwidgets/jqxdropdownbutton.js"></script>
<link href="/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"/>
<script src="/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<!-- Theme style -->
<link rel="stylesheet" href="/stylesheets/AdminLTE.min.css">

<section class="content-header text-left">
    <h1 style="margin-bottom: 5px">
        {{pageName}}
    </h1>
    <ul class="breadcrumb">
        <li><a href="/system/manage" target="_top"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">{{pageName}}</li>
    </ul>
</section>

<div class="container" style="width: 100%">
    <div class="box box-primary">
        <div class="row" style="padding-top: 2px; padding-left: 10px;">
            <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
                        <span class="input-group" style="color: black; padding: 3px;">
                        <span class="input-group-addon" style="color: black;">节点</span>
                            <div id="mtreeDropDownButton" style="width: 100%;">
                                  <div style="border: none;" id='mtreeNode'>
                                  </div>
                            </div>
                        </span>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
             <span class="input-group" style="color: black; padding: 3px;"> <span class="input-group-addon">报警级别</span> <select
                     id="alarmLevel" class="form-control selectpicker" multiple>
                 <option value="0">红</option>
                 <option value="1">黄</option>
                 <option value="2">白</option>
                 <option value="3">绿</option>
             </select> </span>
            </div>
            <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
            <span class="input-group" style="color: black; padding: 3px;">
                <span class="input-group-addon" style="color: black;">名称</span> <input
                    type="text" id="alarmRealName" class="form-control"
                    placeholder="请输入名称"> </span>
            </div>
            <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
            <span class="input-group" style="color: black; padding: 3px;">
                <span class="input-group-addon" style="color: black;">描述</span> <input
                    type="text" id="alarmRealDesc" class="form-control"
                    placeholder="请输入描述"> </span>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;padding-top:3px;">
                <ul class="nav navbar-left">
                    <button id="start" class="btn btn-success add" onclick="start()">开始</button>
                    <button id="end" class="btn btn-warning add" onclick="end()">停止</button>
                </ul>
            </div>
        </div>
    </div>
    <table id="table"></table>
</div>
<style>
    .fixed-table-toolbar .columns {
        margin-top: -40px !important;
        margin-right: 5px !important;
    }
</style>
<script type="text/javascript" src="/javascripts/dataview/alarmRealtime.js"></script>
<script>
    //维护全局变量
    if (window.parent.socket) {
        socket = window.parent.socket;
    } else {
        var token = '{{token}}';
        socket = io.connect(socketURI, {
            'query': 'token=' + token
        });
    }
    socket.removeAllListeners('alarmRealtimeData');
    socket.on('alarmRealtimeData', function (data) {
        if (data.total == 0) {
            $('#table').bootstrapTable('refreshOptions', {pageNumber: 1});
        }
        $("#table").bootstrapTable('load', data);
        alarmAPColor();
    })
</script>